# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#NetBeans
nbproject/*
build/
nbbuild/
dist/

#PyCharm
.idea/*
*/__pycache__/*

#containers
*.jpg
*.jpeg
*.png
*.bmp

.nb-gradle/
